html 
{
	margin: 0;
	scroll-behavior: smooth;
}

body 
{ 
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/T7F.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0; 
	transition: opacity 2s; 
	font-family: Arial Black, Arial Bold;
	margin: 0;
	overflow-x: hidden;
} 

/*******HOME*******/
	
#logo
{
	color: #F2F2F2;
	font-size: 58px;
	opacity: 1;
	text-align: center;
	transition: opacity 1s;
}

#sublogo
{
	color: #F2F2F2;
	font-size: 52px;
	opacity: 1;
	text-align: center;
	transition: opacity 1s;
}

#logoflexbox
{
	transform: translate(0%, 25%);
	height: 62%;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*******MUSIC*******/

#musictext
{
	color: #F2F2F2;
	height: 530px;
	overflow-y: auto;
	font-size: 18px;
	transform: translate(0%, 100px);
}

#musicplayer
{
	transform: translate(0%, 100px);
}


/*******WHATIDO*******/

#compositiontext
{
	transform: translate(0%, 100px);
	color: #F2F2F2;
	font-size: 18px;
	text-align: justify;
	width: 35%;
	height: 700px;
	overflow: auto;
}

/*******FAQ*******/

#faqcontainer
{
	display: inline-block;
	position: relative;
	transform: translate(0%, 165px);
	height: 62%;
	width: 100%;
}

#accordioncontainer
{
	position: absolute;
	top: 30%;
	width: 100%;
	left: 430px;
}

/*******ABOUT*******/

.aboutphotocontainer
{
	transform: translate(-35%, 100px);
	height: 41vh;
}

#aboutmetext
{
	transform: translate(0%, 100px);
	color: #F2F2F2;
	font-size: 18px;
	text-align: justify;
	width: 35%;
	height: 700px;
	overflow-y: auto;
}

.aboutphotos
{
	width: 25vw; 
	height: 40vh; 
	border-radius: 5%;
}

.slidepic
{
	display: none;
}

.caption
{
  color: #f2f2f2;
  font-size: 18px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.slideposition
{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  
}
.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next
{
	right: 0%;
}

.prev:hover, .next:hover 
{
  background-color: rgba(76, 64, 142, 0.8);
}

/*******CONTACT*******/

#messagefields
{
	transform: translate(0%, 100px);
	display: flex;
	flex-direction: column;
}

form
{
	width: 35%;
}

input[type=text], textarea
{
  font-family: Arial Black;
  font-size: 16px;
  height: 48px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: #f2f2f2;
  color: #4C408E;
}

textarea
{
	height: 20.6vh !important;
}

input[type=submit]
{
	font-size: 16px;
	padding: 0.83vw 3.3vh;
	background-color: #4C408E;
	color: #f2f2f2;
	border-radius: 0.41vw;
	cursor: pointer;
	transition: color 0.4s;
}

input[type=submit]:hover
{
	color: #b2aebc;
}

.container
{
	transform: translate(25%, 48px);
	height: 62%;
	width: 66.4vw;
	display: flex;
	justify-content: space-between;
}

.container2
{
	transform: translate(0%, 48px);
	height: 80%;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.header
{
	transform: translate(0%, 100px);
	display: flex;
	width: 100vw;
	color: #F2F2F2;
	font-size: 92px;
	justify-content: center;
}

#parallax2, #parallax3, #parallax4, #parallax5, #parallax6, #parallax7
{
	min-height: 1000px;	
}

#parallax5
{	
	transition: min-height 0.2s ease-out; 
}

.accordion 
{
	background-color: #4C408E;
	color: #F2F2F2;
	cursor: pointer;
	font-size: 18px;
	left: 50%;
	transform: translateX(-50%);
	padding: 18px;
	font-family: Arial Black;
	width: 675px;
	position: relative;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
}

.accordion:after
{
	content: '\002B';
	float: right;
}

.panel 
{
	position: relative;
	color: #4C408E;
	left: 50%;
	transform: translateX(-50%);
	width: 645px;
	padding: 0px 15px;
	text-align: justify;
	max-height: 0;
	transition: max-height 0.2s ease-out;
	background-color: white;
	overflow: hidden;
}

.active, .accordion:hover 
{
	background-color: #38285C;
}

.active:after
{
	content: '\2212';
	float: right;
}

/*******NAVBAR*******/

.navbar
{
	overflow: hidden;
	top: 0;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: transparent;
	width: 100%;
	transition: background-color 0.4s;
	z-index: 2;
}

.navbar-scrolled
{
	background-color: #4C408E;
	overflow: hidden;
	top: 0;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;
	transition: background-color 0.4s;
	z-index: 2;
}

.navbarwrapper
{
	display:flex;
	justify-content: center;
	transition: background-color 0.4s;
}

.navbarcontents
{
	display: flex;
	width: 66.4vw;
	justify-content: space-between;
}

.navbarwrapper-scrolled
{
	display:flex;
	justify-content: center;
	transition: background-color 0.4s;
}

.navbarwrapper a
{
	font-size: 1.042vw;
	color: #F2F2F2;
	text-align: center;
	padding: 0.938vw 0px;
	text-decoration: none;
	transition: color 0.4s;
	left: 32.34vw;
}

.navbar a:hover
{
	color: #b2aebc;
}

.navbarwrapper-scrolled a
{	
	font-size: 1.042vw;
	color: #F2F2F2;
	text-align: center;
	padding: 0.938vw 0px;
	text-decoration: none;
	transition: color 0.4s;
}

.navbarwrapper-scrolled a:hover
{
	color: #b2aebc;
}

.fa-twitter, .fa-bandcamp
{
	background: transparent;
	color: white;
	font-size: 1.6vw;
}

/************************************SMALL MEDIA******************************************/

@media only screen and (max-device-width: 800px) 
{
	body
	{
		background-position: 70% 50%;
		background-attachment: scroll;
		background-size: 3000px 6500px;
	}
}

/*******HOME*******/

@media only screen and (max-width: 800px) 
{
	#logo
	{
		font-size: 6vw;
	}

	#sublogo
	{
		font-size: 4.5vw;
	}

/*******MUSIC*******/

	#musictext
	{
		display: none;
	}

	.musicbox
	{
		width: 65vw;
	}

/*******WHATIDO*******/

	#compositiontext
	{
		width: 65vw;
		font-size: 3vw;
	}

/*******ABOUT*******/

	.aboutphotocontainer
	{
		transform: translate(0%, 100px);
		height: 41vh;
	}

	#aboutmetext
	{
		transform: translate(0%, 80%);
		width: 65vw; 
		font-size: 3vw;
		height: 30vh; 
	}

	.aboutphotos
	{
		width: 50vw; 
		height: 40vh; 
	}

	.caption
	{
		display: none;
	}

/*******CONTACT*******/

	form
	{
		width: 65vw;
	}

	.container
	{
		transform: translate(27%, 48px);
		height: 62%;
		width: 65vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.header
	{
		font-size: 10vw;
		text-align: center;
	}

	.accordion
	{
		font-size: 3vw;
		width: 65vw;
	}

	.panel
	{
		font-size: 3vw;
		width: 57vw;
	}

/*******NAVBAR*******/

	.navbarcontents
	{
		width: 65vw;
	}

	.navbarwrapper a
	{
		font-size: 2vw;
	}

	.navbarwrapper-scrolled a
	{
		font-size: 2vw;
	}	
}
