html 
{
	margin: 0;
	scroll-behavior: smooth;
}

body 
{ 
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/T7F.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0; 
	transition: opacity 2s; 
	font-family: Arial Black;
	margin: 0;
	overflow-x: hidden;
} 

@media only screen and (max-device-width: 480px) 
{
	body
	{
		background-attachment: scroll;
	}

}

/*******HOME*******/
	
#logo
{

	color: #F2F2F2;
	font-size: 3vw;
	opacity: 1;
	transition: opacity 1s;
}

#sublogo
{
	color: #F2F2F2;
	font-size: 2.7vw;
	opacity: 1;
	transition: opacity 1s;
}

#logoflexbox
{
	transform: translate(25%, 25%);
	height: 62%;
	width: 66.4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contactnotice
{
	text-align: center;
	color: #F2F2F2;
	font-size: 2.7vw;
	position: absolute;
	opacity: 1;
	transition: opacity 1s;
}

/*******MUSIC*******/

#musictext
{
	transform: translate(0%, 25%);
	color: #F2F2F2;
	height: 48.7vh;
	font-size: 0.9vw;

}

#musicplayer
{
	transform: translate(0%, 25%);
}

/*******WHATIDO*******/

#compositiontext
{
	color: #F2F2F2;
	font-size: 0.94vw;
	text-align: justify;
	width: 49.5vw;
	transform: translate(0%, 45%);
	overflow-y: auto;
}

/*******FAQ*******/

#faqcontainer
{
	display: inline-block;
	position: relative;
	left: 51%;
	transform: translate(-51.5%, 25%);
	height: 600px;
	width: 1275px;
}

#accordioncontainer
{
	position: absolute;
	top: 30%;
	width: 100%;
	left: 430px;
}


/*******ABOUT*******/

#aboutphotocontainer
{
	background-image: url("images/me.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5%;
	width: 23.5vw;
	height: 50.4vh;
	transform: translate(0%, 22%);

}

#aboutmetext
{
	color: #F2F2F2;
	font-size: 0.93vw;
	text-align: justify;
	width: 35%;
	transform: translate(0%, 15%);
}

/*******CONTACT*******/

#messagefields
{
	display: flex;
	flex-direction: column;
	transform: translate(0%, 25%);
}

form
{
	width: 35vw;
}

input[type=text], textarea
{
  font-family: Arial Black;
  font-size: 0.83vw;
  height: 5vh;
  padding: 0.625vw 2.06vh;
  margin: 0.42vw 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0.41vw;
  background-color: #f2f2f2;
  color: #4C408E;
}

textarea
{
	height: 20.6vh !important;
}

input[type=submit]
{
	font-size: 0.83vw;
	padding: 0.83vw 3.3vh;
	background-color: #4C408E;
	color: #f2f2f2;
	border-radius: 0.41vw;
	cursor: pointer;
}

.container
{
	transform: translate(25%, 25%);
	height: 62%;
	width: 66.4%;
	display: flex;
	justify-content: space-between;
}

.container2
{
	transform: translate(25%, 25%);
	height: 62%;
	width: 66.4%;
	display: flex;
	justify-content: center;
}

.header
{
	display: flex;
	width: 100%;
	color: #F2F2F2;
	font-size: 4.8vw;
	transform: translate(0%, 15vh);
	justify-content: center;
}

#parallax2, #parallax3, #parallax4, #parallax5, #parallax6, #parallax7
{
	min-height: 100vh;	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid red;
}

#parallax5
{	
	transition: min-height 0.2s ease-out; 
}

#faqcontainer
{
	display: inline-block;
	position: relative;
	left: 51%;
	transform: translate(-51.5%, 25%);
	height: 600px;
	width: 1275px;
}

.accordion 
{
	background-color: #4C408E;
	color: #F2F2F2;
	cursor: pointer;
	font-size: 18px;
	padding: 18px;
	font-family: Arial Black;
	width: 950px;
	top: 150px;
	position: relative;
	left: 14%;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
}

.accordion:after
{
	content: '\002B';
	float: right;
}

.panel 
{
	left: 14%;
	font-family: Arial Black;
	position: relative;
	top: 150px;
	color: #4C408E;
	width: 920px;
	padding: 0px 15px;
	text-align: justify;
	max-height: 0;
	transition: max-height 0.2s ease-out;
	background-color: white;
	overflow: hidden;
}

.active, .accordion:hover 
{
	background-color: #38285C;
}

.active:after
{
	content: '\2212';
	float: right;
}

/*******NAVBAR*******/

.navbar
{
	overflow: hidden;
	top: 0;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: transparent;
	width: 100%;
	transition: background-color 0.4s;
	z-index: 2;
}

.navbar-scrolled
{
	background-color: #4C408E;
	overflow: hidden;
	top: 0;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;
	transition: background-color 0.4s;
	z-index: 2;
}

.navbarwrapper
{
	display:flex;
	justify-content: center;
	transition: background-color 0.4s;
}

.navbarcontents
{
	display: flex;
	width: 66.4vw;
	justify-content: space-between;
}

.navbarwrapper-scrolled
{
	display:flex;
	justify-content: center;
	transition: background-color 0.4s;
}

.navbarwrapper a
{
	font-size: 1.042vw;
	color: #F2F2F2;
	text-align: center;
	padding: 0.938vw 0px;
	text-decoration: none;
	transition: color 0.4s;
	left: 32.34vw;
}

.navbar a:hover
{
	color: #b2aebc;
}

.navbarwrapper-scrolled a
{	
	font-size: 1.042vw;
	color: #F2F2F2;
	text-align: center;
	padding: 0.938vw 0px;
	text-decoration: none;
	transition: color 0.4s;
}

.navbarwrapper-scrolled a:hover
{
	color: #b2aebc;
}

