html 
{
	font-family: Arial Black;
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
}

body 
{ 
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/T7F.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0; 
	transition: opacity 2s; 
	font-family: Arial Black;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
} 

@media only screen and (max-device-width: 480px) 
{
	body
	{
		background-attachment: scroll;
	}

}

/*******HOME*******/
	
#logo
{
	color: #F2F2F2;
	font-size: 50px;
	position: absolute;	
	left: 135px;
}

#sublogo
{
	color: #F2F2F2;
	font-size: 45px;
	position: absolute;
	top: 30%;
	left: 435px;
}

/*******MUSIC*******/

#musictext
{
	color: #F2F2F2;
	position: absolute;
	transform: translate(0%, 23%)
}

#musicplayer
{
	position: absolute;
	transform: translate(100%, 25%);
	left: 37.4%;
}

/*******WHATIDO*******/

#arrangementtext
{
	color: #F2F2F2;
	font-size: 18px;
	position: absolute;
	text-align: justify;
	left: 65%;
	transform: translate(0%, 180px);
	width: 35%;
}

#compositiontext
{
	color: #F2F2F2;
	font-size: 18px;
	position: absolute;
	text-align: justify;
	transform: translate(0%, 180px);
	width: 35%;
}

#arrangementheader
{
	color: #F2F2F2;
	font-size: 45px;
	position: absolute;
	left: 70%;
	transform: translate(0%, 30%)
}

#compositionheader
{
	color: #F2F2F2;
	font-size: 45px;
	position: absolute;
	left: 6%;
	transform: translate(0%, 30%)
}

/*******FAQ*******/

#accordioncontainer
{
	position: absolute;
	top: 30%;
	width: 100%;
	left: 430px;
}


/*******ABOUT*******/

#aboutphotocontainer
{
	background-image: url("images/me.png");
	background-position: center;
	border-radius: 10px;
	width: 450px;
	height: 440px;
	transform: translate(0%, 120px);
	display: inline-block;

}

#aboutmetext
{
	color: #F2F2F2;
	font-size: 18px;
	position: absolute;
	text-align: justify;
	width: 35%;
	left: 65%;
	transform: translate(0%, -62%);
}

/*******CONTACT*******/

#messagefields
{
	display: flex;
	flex-direction: column;
	transform: translate(0%, 100px);
}

#contacttext
{
	color: #F2F2F2;
	font-size: 18px;
	position: absolute;
	text-align: justify;
	left: 65%;
	transform: translate(0%, -112%);
	width: 35%;
}

form
{
	display: inline-block;
	width: 35%;
}

input[type=text], textarea
{
  font-family: Arial Black;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
  color: #4C408E;
}

input[type=submit]
{
	padding: 16px 32px;
	background-color: #4C408E;
	color: #f2f2f2;
	cursor: pointer;
}

.header
{
	color: #F2F2F2;
	font-size: 80px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%)
}

#parallax2, #parallax3, #parallax4, #parallax5, #parallax6, #parallax7
{
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#parallax5
{	
	transition: min-height 0.2s ease-out; 
}



.container
{
	position: relative;
	left: 51%;
	transform: translate(-51.5%, 25%);
	height: 600px;
	width: 1275px;
}

.accordion 
{
	background-color: #4C408E;
	color: #F2F2F2;
	cursor: pointer;
	font-size: 18px;
	padding: 18px;
	font-family: Arial Black;
	width: 950px;
	top: 150px;
	position: relative;
	left: 14%;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
}

.accordion:after
{
	content: '\002B';
	float: right;
}

.panel 
{
	left: 14%;
	font-family: Arial Black;
	position: relative;
	top: 150px;
	color: #4C408E;
	width: 920px;
	padding: 0px 15px;
	text-align: justify;
	max-height: 0;
	transition: max-height 0.2s ease-out;
	background-color: white;
	overflow: hidden;
}

.active, .accordion:hover 
{
	background-color: #38285C;
}

.active:after
{
	content: '\2212';
	float: right;
}

/*******NAVBAR*******/

.navbar
{
	overflow: hidden;
	top: 0;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: transparent;
	width: 100%;
	transition: background-color 0.4s;
	z-index: 2;
}

.navbar-scrolled
{
	background-color: #4C408E;
	overflow: hidden;
	top: 0;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;
	transition: background-color 0.4s;
	z-index: 2;
}

.navbarwrapper
{
	display:flex;
	justify-content: center;
	transition: background-color 0.4s;
}

.navbarcontents
{
	display: flex;
	width: 1275px;
	justify-content: space-between;
}

.navbarwrapper-scrolled
{
	display:flex;
	justify-content: center;
	transition: background-color 0.4s;
}

.navbarwrapper a
{
	font-size: 20px;
	color: #F2F2F2;
	text-align: center;
	padding: 18px 0px;
	text-decoration: none;
	transition: 0.4s;
	left: 621px;
}

.navbar a:hover
{
	color: #b2aebc;
}

.navbarwrapper-scrolled a
{	
	font-size: 20px;
	color: #F2F2F2;
	text-align: center;
	padding: 18px 0px;
	text-decoration: none;
	
	transition: 0.4s;
}

.navbarwrapper-scrolled a:hover
{
	color: #b2aebc;
}


	