<!DOCTYPE html>

{% load static %}
<html>
	<head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'mainpage\contactstyle.css' %}">

	</head>

<body onload="document.body.style.opacity='1'">

	<!-- LOGO/HOME SECTION -->
	
	<a name="home">
		<div id="parallax2">
			<div id="logoflexbox">
		
		<!-- SHOW NOTICE MESSAGE -->
		
				<div id="sublogo">
					<p id="sublogotext">
					{% if message_name %} Hey, {{message_name}}. Thanks for the email. I'll get up with you shortly.
					
					{% else %} You got here by manually entering the URL didn't you? Naughty.
					
					{% endif %}</p>
				</div>
					
				<div id="mainpagelink">
					<a href="{% url 'mainpage' %}">Back to Main Page</a>
				</div>
				
				</div>
			</div>
		</div>
		
	</a>
</body>
</html>