<!DOCTYPE html>

{% load static %}
<html>
	<head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'mainpage\mainstyle.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	</head>

<body onload="document.body.style.opacity='1'">

	<div class="navbar" id="navbar">
		<div class="navbarwrapper" id="navbarwrapper">
			<div class="navbarcontents">
				<a href="#top" >Home</a>
				<a href="#musicbox" id="#musicbox">Music</a>
				<a href="#what i do">What I Do</a>
				<a href="#faq">FAQ</a>
				<a href="#about">About</a>
				<a href="#contact">Contact</a>	
			
				<a href="https://www.twitter.com/Vermanubis" style="font-size: 1.6vw;" 
				class="fa fa-twitter"></a>
				<a href="https://vermanubis.bandcamp.com/" style="font-size: 1.6vw;" 
				class="fa fa-bandcamp"></a>
			</div>
		</div>
	</div>
	
	<!-- LOGO/HOME SECTION -->
	
	<a name="home">
		<div id="parallax2">
			<div id="logoflexbox">
		
		{% if message_name %} 
		
		<!-- SHOW NOTICE MESSAGE -->
		
				<div id="logo" style="display:none">
					<h1>Vermanubis Music</h1>
				</div>
				
				<div id="sublogo" style="text-align: center">
					<p id="sublogotext">Hey, {{message_name}}. Thanks for the email. I'll get up with you shortly.</p>
				</div>
			
		{% else %} 
		
		<!-- SHOW LOGO -->
		
				<div id="logo">
					<h1>Vermanubis Music</h1>
				</div>
				<div id="sublogo">
					<p>Game Composer</p>
				</div>
			
		{% endif %}
			</div>
		</div>
		
	</a>
	
	<!-- MUSIC SECTION -->
	
	 <a name="musicbox">
		
		<div id="parallax3">
				<div class="header">
					Music
				</div>
			<div class="container">

				<div id="musictext">
					1. The Mount of All Creation.....(intrepid, determined)<span style="color:red">***</span>
					<p>2. Bygone Days and the Distant Shore.....(nostalgic, peaceful)</p>
					<p>3. The Forest of Sleep and the Grotto of the Dream Fish.....(rainy, dreamy)</p>
					<p>4. October Rust and the Beyondless Horizon.....(epic, adventurous)<span style="color:red">***</span></p>
					<p>5. The Storm That Broke the World in Two.....(snowy, dark)</p>
					<p>6. Kriegsgeist.....(confident, battle theme)<span style="color:red">***</span></p>
					<p>7. The Ocean at the End of the Earth.....(bright, longing)<span style="color:red">***</span> </p>
					<p>8. Prélude d'un Coeur Brisé.....(sentimental, bittersweet)</p>
					<p>9. Le Ali della Redenzione.....(redemptive, proud)<span style="color:red">***</span></p>
					<p>10. Grief, My Sword.....(angry, sorrowful)</p>
					<p>11. Hope, My Shield.....(hopeful, healing)</p>
					<p style="color: red">*** = personal favorites</p>
				</div> 
				
				<div id="musicplayer">
					<iframe style="border: 0; width: 400px; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=4108436490/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/track=3719625420/transparent=true/" 
					seamless><a href="http://vermanubis.bandcamp.com/album/the-seventh-fonon">The Seventh Fonon by Vermanubis</a></iframe>
				</div>
			</div>
		</div>
	</a>
	
	<!-- WHAT I DO SECTION -->
	
	<a name="what i do">
		<div id="parallax4">
				<div class="header">
					What I Do
				</div>
			<div class="container2">	
				<div id="compositiontext">
					I specialize in composing highly melodic and narrative-driven music in the style of classic JRPGs such as
					Final Fantasy, the Chrono series, Tales series and those like them. What made these games special wasn’t just that 
					their music was good; their music was the backbone of their worlds and stories. 
					
					<p>While a lot of music takes a passive role in storytelling
					and worldbuilding, simply blending into the background, the style of these classic series as well as my own
					take an active role in building the world and telling the stories therein.
					Good music is easy to come by, but music that makes its listeners want to go to YouTube years later and relive the game and
					their memories with it isn't.</p>
				
					<p>With this in mind, my bottom line is to make music that is a selling point and integral part of the identity of the games I work on, not just 
					pleasant but quickly forgettable background noise. I strive to make music that will help games become cherished and
					important emotional experiences for their players. 
					
					<p>They say true joy is composed of a tear and a smile, and anything less won't do.</p>

					</p>
				</div>
			</div>
		</div>
	</a>
					
	
	<!-- FAQ SECTION -->
	
	<a name="faq">
		<div id="parallax5"> 
				<div class="header">
					FAQ
				</div>
			<div id="faqcontainer">
			
				<button class="accordion">Q: “What do you mean by 'passive' and 'active' music?”</button>
					<div class="panel">
						<p><b>A:</b> Very generally speaking,
						"passive" music is the kind you hear in most movies: appropriate, but a bit forgettable because it's 
						creating a texture in that immediate moment more than trying to tell its own story. In a sense, "passive" music
						"agrees" with the scene but contributes little of its own to the narrative.</p>

						<p>"Active" music, on the other hand, not only "agrees" with the scene or surroundings, but gives its own perspective for a more
						emotionally and imaginatively complete package.
						</p>
					</div>
					
				<button class="accordion">Q: “How do I know I’ll get exactly what I’m looking for?”</button>
					<div class="panel">
						<p><b>A:</b> Of course, liking what you heard in the Music section above is a great start, 
						but it’s good to have a guarantee that I’ll nail what you’re looking for. Sometimes
						the vision of what you want is a little blurry and takes some time to suss out, and that’s okay! 
						I'll figure out what you're looking for by keeping in frequent contact, even if you know nothing about music and have a difficult time
						communicating exactly what you want.
						</p>
					</div>

				<button class="accordion">Q: “What are your prices/how do you pricing?”</button>
					<div class="panel">
						<p>A: It's a little difficult to give a flat rate because projects vary so wildly, but
						I’m very flexible with pricing as well as pricing models, and we’ll talk both out right at the start 
						so you don’t have to wake up in cold sweats at night wondering about costs. If pay-per-minute freaks 
						you out a bit, I’m happy to do — and personally quite like — the pay-per-project model. Whatever the model, however, 
						the quality of my music is deeply personal to me, so my concern is making music that will 
						carve a lasting legacy for your game, not optimizing my time:money ratio.</p>
					</div>

				<button class="accordion">Q: “What genres can you do?”</button>
					<div class="panel">
						<p>A: Just about any, but my specialties are symphonic and prog rock, world and orchestral. 
						Think Nobuo Uematsu and Motoi Sakuraba (of Final Fantasy and Tales/Souls series fame) 
						for symphonic/prog rock and orchestral, and Yasunori Mitsuda (of Chrono/Xeno series fame) for world if
						you're unfamiliar.</p>
					</div>
					
				<button class="accordion">Q: “What if I want something that sounds more like older games?”</button>
					<div class="panel">
						<p>A: In my music demo, the songs are produced with live orchestral samples, but this sound has less to do with the
						music itself and more with the soundfont. I can adjust my compositions to any soundfont you think will fit your game, be it 
						something reminiscent of the old SNES soundfonts or something modern like live orchestra samples.</p>
					</div>
					
				<button class="accordion">Q: “Can I hire you for individual commissions/songs?”</button>
					<div class="panel">
						<p>A: You certainly can! Prices vary depending on a variety of factors, so just get up with me through the contact form at the
						bottom of the page so we can talk about what you need and the details of pricing. </p>
					</div>
			</div>
		</div>
	</a>
	
	<!-- ABOUT SECTION -->

	<a name="about">
		<div id="parallax6">
				<div class="header">
					About
				</div>
			<div class="container">
				
				<div class="aboutphotocontainer">
					<img src="{% static 'mainpage\images\me.png' %}" style="width:470px; height:400px; border-radius: 5%"></image>
				</div>
					
				<div id="aboutmetext">
					My name’s Geoff Butterworth, also known as Vermanubis, and it’s a pleasure to meet you.
					
					<p>Game music has been my life since I was 5 years old 
					when I would play all the way through Final Fantasy: Mystic Quest just to jam to the final dungeon theme.
					As I got older, I started to realize that game music got into my heart and made me feel in ways
					no other kind of music came close to.
					</p>
					
					<p>Since about that age it's been my life's work to understand and perfect what makes game music so special
					and to get others to feel what my most beloved games made me feel in my own work. If you can see that fact 
					reflected in my work and want music that will stay with your players forever, I can't overstate
					how happy I'd be to help you make a game that'll mean something to people.
					</p>
					
				</div>
				
				
			</div>
				
		</div>
	</a>
	
	<!-- CONTACT SECTION -->
	
	<a name="contact">
		<div id="parallax7">
		
			<div class="header">
				Contact
			</div>
			
			<div class="container2">
				<form action="{% url 'contact' %}" method="post" style="margin: 0; padding: 0;">
				{% csrf_token %}
				
					<div id="messagefields">
						<input type="text" id="message-name" name="message-name" placeholder="Your name?" onfocus="this.placeholder=''" onblur="this.placeholder='Your name?'" required>

						<input type="text" id="message-email" name="message-email" placeholder="Your email?" 
						onfocus="this.placeholder=''" onblur="this.placeholder='Your email?'" required>

						<textarea id="message" name="message" placeholder="Write here..."  onfocus="this.placeholder=''" onblur="this.placeholder='Write here...'"
						style="height:200px" required></textarea>

						<input type="submit" value="Message me!" style="font-family: Arial Black">	
					</div>
				</form>
			</div>
		</div>
	</a>

	
<script>

	var navBar = document.getElementById('navbar');
	var navWrap = document.getElementById('navbarwrapper');
	
	window.onscroll = function () 
	{	 
		"use strict";
		if (document.documentElement.scrollTop >= 100 ) //if scrolled from very top
		{
			navBar.classList.add("navbar-scrolled");
			navBar.classList.remove("navbar");
			navWrap.classList.add("navbarwrapper-scrolled");
			navWrap.classList.remove("navbarwrapper");
		} 
		else //you're at the top
		{
			navBar.classList.add("navbar");
			navBar.classList.remove("navbar-scrolled");
			navWrap.classList.add("navbarwrapper");
			navWrap.classList.remove("navbarwrapper-scrolled");
		}
	};
	
	var acc = document.getElementsByClassName("accordion");
	var i;
	var activePanel = null;

	for (i = 0; i < acc.length; i++) 
	{
	  acc[i].onclick = function() 
	  {
		toggleItem(this);
	  }
	}
	  	  
	function toggleItem(item)
	{
		item.classList.toggle("active");

		/* Toggle between hiding and showing the active panel */
		var panel = item.nextElementSibling;

		if (panel.style.maxHeight) //panel is open, now close and adjust div height
		{
			panel.style.maxHeight = null;
			document.getElementById("parallax5").style.minHeight = 
				document.getElementById("parallax5").offsetHeight - panel.scrollHeight + "px";
		} 
		else //panel is closed, now open it and adjust div height
		{
			panel.style.maxHeight = panel.scrollHeight + "px";
			document.getElementById("parallax5").style.minHeight = 
				document.getElementById("parallax5").offsetHeight + panel.scrollHeight + "px";
		} 
	};
	
	async function logoReturn()
	{
		var notice = document.getElementById("logo");
		var sublogo = document.getElementById("sublogo");
		if(logo.style.display == "none")
		{
			let promise = new Promise((resolve, reject) => {
			setTimeout(function(){
				sublogo.style.opacity = 0;
				resolve("done");}, 7000) //wait 7 seconds to fade message out for logo fadein
			});
			
			let result = await promise;
			var sublogotext = document.getElementById("sublogotext");
			//sublogotext.innerHTML = "Game Composer";
			//notice.style.display = "block";
			//sublogo.style.opacity = 1;
			//notice.style.opacity = 1;
			
			
			//var logo = document.styleSheets.
			//document.getElementById("first").appendChild(document.getElementById("logo"));	
		}
	};
	
</script>
	
</body>
</html>