<!DOCTYPE html>

{% load static %}
<html>
	<head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'mainpage\mainstyle.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	</head>

<body onload="document.body.style.opacity='1'">

	<div class="navbar" id="navbar">
		<div class="navbarwrapper" id="navbarwrapper">
			<div class="navbarcontents">
				<a href="#top" >Home</a>
				<a href="#musicbox" id="#musicbox">Music</a>
				<a href="#what i do">What I Do</a>
				<a href="#faq">FAQ</a>
				<a href="#about">About</a>
				<a href="#contact">Contact</a>	
			
				<a href="https://www.twitter.com/Vermanubis" 
				class="fa fa-twitter"></a>
				<a href="https://vermanubis.bandcamp.com/" 
				class="fa fa-bandcamp"></a>
			</div>
		</div>
	</div>
	
	<!-- LOGO/HOME SECTION -->
	
	<a name="home">
		<div id="parallax2">
			<div id="logocontainer">
		
		{% if message_name %} 
		
		<!-- SHOW NOTICE MESSAGE -->
		
		
				<div id="logo" style="display:none">
					<h1>Vermanubis Music</h1>
				</div>
				
				<div id="sublogo" style="text-align: center">
					<p id="sublogotext">Hey, {{message_name}}. Thanks for the email. I'll get up with you shortly.</p>
				</div>
			
		{% else %} 
		
		<!-- SHOW LOGO -->
		
				<div id="logo">
					<h1>Vermanubis Music</h1>
				</div>
				<div id="sublogo">
					<p>Game Composer</p>
				</div>
			
		{% endif %}
			</div>
		</div>
		
	</a>
	
	<!-- MUSIC SECTION -->
	
	 <a name="musicbox">
		
		<div id="parallax3">
				<div class="header"> 
					Music
				</div>
			<div class="container-spaced">
			
				<div id="musictext">
					1. The Mount of All Creation.....(intrepid, determined)<span style="color:red">***</span>
					<p>2. Bygone Days and the Distant Shore.....(nostalgic, peaceful)</p>
					<p>3. The Forest of Sleep and the Grotto of the Dream Fish.....(rainy, dreamy)</p>
					<p>4. October Rust and the Beyondless Horizon.....(epic, adventurous)<span style="color:red">***</span></p>
					<p>5. The Storm That Broke the World in Two.....(snowy, dark)</p>
					<p>6. Kriegsgeist.....(confident, exciting)<span style="color:red">***</span></p>
					<p>7. The Ocean at the End of the Earth.....(bright, longing)<span style="color:red">***</span> </p>
					<p>8. Prélude d'un Coeur Brisé.....(sentimental, bittersweet)</p>
					<p>9. Le Ali della Redenzione.....(redemptive, proud)<span style="color:red">***</span></p>
					<p>10. Grief, My Sword.....(angry, sorrowful)</p>
					<p>11. Hope, My Shield.....(hopeful, healing)</p>
					<p style="color: red">*** = personal recommendations if you're in a hurry</p>
				</div> 
				
				<div id="musicplayer">
					<iframe src="https://bandcamp.com/EmbeddedPlayer/album=4108436490/size=large/bgcol=ffffff/linkcol=4C408E/artwork=small/track=3719625420/transparent=true/" 
					seamless><a href="http://vermanubis.bandcamp.com/album/the-seventh-fonon">The Seventh Fonon by Vermanubis</a></iframe>
				</div>
			</div>
		</div>
	</a>
	
	<!-- WHAT I DO SECTION -->
	
	<a name="what i do">
		<div id="parallax4">
				<div class="header">
					What I Do
				</div>
			<div class="container-center">	
				<div id="compositiontext">
					I specialize in composing melodic, narrative-driven and  what I call "active" music in the style of classic JRPGs such as
					Final Fantasy, the Chrono series, Tales series and those like them. What made these games special wasn’t just that 
					their music was good; their music was a pillar of their worlds and stories. 
					
					<p>Music can take either a passive or active role in world-building and storytelling. Passive music, like the kind you find
					in many films (and is increasingly prevalant in games), may suit the scene very well, but is quickly forgotten; it describes the "facts" of a scene. Active music, on the other hand,
					paints a vivid mental picture for the listener and excites their imagination; it tells stories. This is the kind of music that carved the legacies of these
					classic series and fully realized worlds, characters and stories even under strict hardware limitations, and is the style and tradition in which I'm firmly planted.</p>
					
					<p>That said, my bottom line isn't just to make fitting but quickly-forgotten background filler, but rather to make music that is a 
					selling point and integral part of the identity of the games I work on. Good-enough music is easy to come by, but music that drives players to 
					YouTube anywhere from days to decades later to relive the world and story with its music is a good bit trickier to find.</p>
					
					<p>It's said that true joy is composed of a tear and a smile, and when that "YouTube" day comes for someone, anything less won't do.</p>

					</p>
				</div>
			</div>
		</div>
	</a>
					
	
	<!-- FAQ SECTION -->
	
	<a name="faq">
		<div id="parallax5"> 
				<div class="header">
					FAQ
				</div>
			<div id="faqcontainer">
			
				<button class="accordion">Q: “What do you mean by 'passive' and 'active' music?”</button>
					<div class="panel">
						<p><b>A:</b> These are just terms I use to describe the differences I perceive among different kinds of music.
						Very generally speaking,
						"passive" music is the kind you often hear in films: fitting, but a bit forgettable because it tends to blend into the backdrop unnoticed. In a sense, passive music
						is like a literal account of facts while "active" music, on the other hand, is more like telling a story around a campfire. Facts are informative, but stories
						give a sense of scope and meaning.<p>
						
						<p>Put another way, you could say that passive music makes little sense by itself, or that 
						it seems incomplete out of its original context, while active music
						can stand on its own and paint a vivid mental picture even out of context, hence the terms "passive" and "active," respectively.</p>
						</p>
						
						<p>In a word, passive music follows moments as they happen; active music tells stories. How a composer
						structures their music determines which category it falls into.</p>
					</div>
					
				<button class="accordion">Q: “How do I know I’ll get exactly what I’m looking for?”</button>
					<div class="panel">
						<p><b>A:</b> Of course, liking what you heard in the Music section above is a great start, 
						but it’s good to have a guarantee that I’ll nail what you’re looking for. Sometimes
						the vision of what you want is a little blurry and takes some time to suss out, and that’s okay!</p>
						
						<p>
						Even if you know nothing about music and have a difficult time
						communicating what you want, I know how to translate even the vaguest ideas into music, accurately identify even the vaguest wishes, and have a huge library
						of references to draw from to help clients identify exactly what they want without having to settle because of difficulty verbalizing specifics.
						</p>
					</div>

				<button class="accordion">Q: “What are your prices/how do you pricing?”</button>
					<div class="panel">
						<p>A: It's a little difficult to give a flat rate because projects vary so wildly, but
						I’m very flexible with pricing as well as pricing models, and we’ll talk both out right at the start 
						so you don’t have to wake up in cold sweats at night wondering about costs. If pay-per-minute freaks 
						you out a bit, I’m happy to do — and personally quite like — pay-per-project. If you're unsure,
						I'd be glad to give you a rundown of the pros/cons of each. Whatever the model though, 
						the quality of my music is a deeply personal matter to me, so my concern is making music that will 
						carve a lasting legacy for games; not optimizing my time:money ratio.</p>
					</div>

				<button class="accordion">Q: “What genres can you do?”</button>
					<div class="panel">
						<p>A: Just about any, but my specialties are symphonic and prog rock, world and orchestral. 
						If you're unfamiliar, think Nobuo Uematsu and Motoi Sakuraba (of Final Fantasy and Tales/Souls series fame) 
						for symphonic/prog rock and orchestral, and Yasunori Mitsuda (of Chrono/Xeno series fame) for world.</p>
					</div>
					
				<button class="accordion">Q: “What if I want something that sounds more like older games?”</button>
					<div class="panel">
						<p>A: In my music demo, the songs are produced with live orchestral samples, but this sound has less to do with the
						music itself and more with the soundfont. I can adjust my compositions to any soundfont you think will fit your game, be it 
						something reminiscent of the 16-bit era or something more modern and "real-sounding".</p>
					</div>
					
				<button class="accordion">Q: “Can I hire you for individual commissions/songs?”</button>
					<div class="panel">
						<p>A: You can! Prices vary depending on a variety of factors, but I'm fairly flexible, so just get up with me through the contact form at the
						bottom of the page so we can talk about what you need and work something out. </p>
					</div>
					
				<button class="accordion">Q: “What separates you from other composers?”</button>
					<div class="panel">
						<p>A: This is probably something my music and philosophy I briefly spoke about above could answer best.
						From a practical point of view though, I'm a thorough and effective communicator, methodical, consistent, flexible with pricing and hopelessly devoted to my craft.
						</p>
					</div>
			</div>
		</div>
	</a>
	
	<!-- ABOUT SECTION -->

	<a name="about">
		<div id="parallax6">
				<div class="header">
					About
				</div>
			<div class="container-spaced">
				<div class="aboutphotocontainer">
					<div class="slidepic fade">
						<div class="slideposition">1 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\me.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">2 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\TotA.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">3 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\batenkaitos.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">4 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\CC.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">5 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\SotN.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">6 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\FF7.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">7 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\Actraiser.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">8 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\Xenogears.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">9 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\FFT.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">10 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\FFMQ.jpg' %}"></image>
					</div>
					
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
					
					<div class="caption">Click the arrows to see some of my fav games and musical influences!</div>
				</div>
				
					
				<div id="aboutmetext">
					My name’s Geoff Butterworth, also known as Vermanubis, and it’s a pleasure to meet you.
					
					<p>Game music has been my life since I was 5 years old 
					when I would do 6-hour marathons through my corrupted copy of Final Fantasy: Mystic Quest just to hear the final dungeon theme.
					Around my late teens, I finally realized that when you feel as strongly about something as I did (and do) about game music, you
					make it your purpose in life.
					</p>
					
					<p>Since about that age it's been my life's work to communicate my most beloved memories and sentiments from games to others through my own work. 
					If you can see that fact reflected in my music and want music that will cast your story and world in stone, it's hard to overstate
					what a pleasure it'd be to help you make a game that'll mean as much to others as my favorite games mean to me.
					</p>
					
				</div>
			</div>
				
		</div>
	</a>
	
	<!-- CONTACT SECTION -->
	
	<a name="contact">
		<div id="parallax7">
		
			<div class="header">
				Contact
			</div>
			
			<div class="container-center">
				<form action="{% url 'contact' %}" method="post" style="margin: 0; padding: 0;">
				{% csrf_token %}
				
					<div id="messagefields">
						<input type="text" id="message-name" name="message-name" placeholder="Your name?" onfocus="this.placeholder=''" onblur="this.placeholder='Your name?'" 
						maxlength="50" required>

						<input type="text" id="message-email" name="message-email" placeholder="Your email?" 
						onfocus="this.placeholder=''" onblur="this.placeholder='Your email?'" maxlength="50" required>

						<textarea id="message" name="message" placeholder="Your message..."  onfocus="this.placeholder=''" onblur="this.placeholder='Write here...'"
						style="height:200px" maxlength="3000" required></textarea>

						<input type="submit" value="Send message" style="font-family: Arial Black">	
					</div>
				</form>
			</div>
		</div>
	</a>

	
<script>

	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) 
	{
		showSlides(slideIndex += n);
	}

	function currentSlide(n) 
	{
		showSlides(slideIndex = n);
	}

	function showSlides(n) 
	{
		var i;
		var slides = document.getElementsByClassName("slidepic");
		if (n > slides.length) 
		{
			slideIndex = 1
		}  
		
		if (n < 1) 
		{
			slideIndex = slides.length
		}
		
		for (i = 0; i < slides.length; i++) 
		{
		  slides[i].style.display = "none";  
		}
		
			slides[slideIndex-1].style.display = "block";  
	}
	
	var navBar = document.getElementById('navbar');
	var navWrap = document.getElementById('navbarwrapper');
	
	window.onscroll = function () 
	{	 
		"use strict";
		if (document.documentElement.scrollTop >= 100 ) //if scrolled from very top
		{
			navBar.classList.add("navbar-scrolled");
			navBar.classList.remove("navbar");
			navWrap.classList.add("navbarwrapper-scrolled");
			navWrap.classList.remove("navbarwrapper");
		} 
		else //you're at the top
		{
			navBar.classList.add("navbar");
			navBar.classList.remove("navbar-scrolled");
			navWrap.classList.add("navbarwrapper");
			navWrap.classList.remove("navbarwrapper-scrolled");
		}
	};
	
	var acc = document.getElementsByClassName("accordion");
	var i;
	var activePanel = null;

	for (i = 0; i < acc.length; i++) 
	{
	  acc[i].onclick = function() 
	  {
		toggleItem(this);
	  }
	}
	  	  
	function toggleItem(item)
	{
		item.classList.toggle("active");

		/* Toggle between hiding and showing the active panel */
		var panel = item.nextElementSibling;

		if (panel.style.maxHeight) //panel is open, now close and adjust div height
		{
			panel.style.maxHeight = null;
			document.getElementById("parallax5").style.minHeight = 
				document.getElementById("parallax5").offsetHeight - panel.scrollHeight + "px";
		} 
		else //panel is closed, now open it and adjust div height
		{
			panel.style.maxHeight = panel.scrollHeight + "px";
			document.getElementById("parallax5").style.minHeight = 
				document.getElementById("parallax5").offsetHeight + panel.scrollHeight + "px";
		} 
	};
	
</script>
	
</body>
</html>