<!DOCTYPE html>

{% load static %}
<html>
	<head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'mainpage\mainstyle.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	</head>

<body onload="document.body.style.opacity='1'">

	<div class="navbar" id="navbar">
		<div class="navbarwrapper" id="navbarwrapper">
			<div class="navbarcontents">
				<a href="#top" >Home</a>
				<a href="#musicbox" id="#musicbox">Music</a>
				<a href="#what i do">What I Do</a>
				<a href="#faq">FAQ</a>
				<a href="#about">About</a>
				<a href="#contact">Contact</a>	
			
				<a href="https://www.twitter.com/Vermanubis" 
				class="fa fa-twitter"></a>
				<a href="https://vermanubis.bandcamp.com/" 
				class="fa fa-bandcamp"></a>
			</div>
		</div>
	</div>
	
	<!-- LOGO/HOME SECTION -->
	
	<a name="home">
		<div id="parallax2">
			<div id="logocontainer">
		
		{% if message_name %} 
		
		<!-- SHOW NOTICE MESSAGE -->
		
		
				<div id="logo" style="display:none">
					<h1>Vermanubis Music</h1>
				</div>
				
				<div id="sublogo" style="text-align: center">
					<p id="sublogotext">Hey, {{message_name}}. Thanks for the email. I'll get up with you shortly.</p>
				</div>
			
		{% else %} 
		
		<!-- SHOW LOGO -->
		
				<div id="logo">
					<h1>Vermanubis Music</h1>
				</div>
				<div id="sublogo">
					<p>Game Composer</p>
				</div>
			
		{% endif %}
			</div>
		</div>
		
	</a>
	
	<!-- MUSIC SECTION -->
	
	 <a name="musicbox">
		
		<div id="parallax3">
				<div class="header"> 
					Music
				</div>
			<div class="container-spaced">
			
				<div id="musictext">
					1. The Afterlife Gardens.....(rainy, mystical)<span style="color:red">***</span>
					<p>2. Dextera Domini.....(energetic, graceful)<span style="color:red">***</span></p>
					<p>3. The Mount of All Creation.....(intrepid, determined)</p>
					<p>4. Bygone Days and the Distant Shore.....(nostalgic, longing)</p>
					<p>5. Starless Winter Welkin.....(snowy, dark)</p><span style="color:red">***</span>
					<p>7. Le Ali della Redenzione.....(heroic, redemptive)<span style="color:red">***</span> </p>
					<p>6. The Ocean at the End of the Earth.....(calm, ethereal)<span style="color:red">***</span> </p>
					<p>8. The Promise of New Life.....(bright, vast)</p><span style="color:red">***</span>
					<p>9. The Final Matrimony.....(hopeful, bittersweet)</p>
					<p>10. Der Wille vom Nichts.....(evil, imposing)</p>
					<p style="color: red">*** = personal favorites, if you're in a hurry</p>
				</div> 
				
				<div id="musicplayer">
					<iframe src="https://bandcamp.com/EmbeddedPlayer/album=4041088024/size=large/bgcol=ffffff/linkcol=7137dc/artwork=small/transparent=true/" 
					seamless><a href="https://vermanubis.bandcamp.com/album/site-collection">Site Collection by Vermanubis</a></iframe>
				</div>
			</div>
		</div>
	</a>
	
	<!-- WHAT I DO SECTION -->
	
	<a name="what i do">
		<div id="parallax4">
				<div class="header">
					What I Do
				</div>
			<div class="container-center">	
				<div id="compositiontext">
					I think game music is at its best when it’s just as fun to listen to as it is beautiful. It’s precisely the combination 
					of beauty and enthusiasm of the music of games like Final Fantasy, Castlevania or Chrono Trigger that won them the hearts 
					of almost everyone who played them, and drives those players to YouTube almost 30 years later to hear that music.

					
					<p>That said, my bottom line is to make music that follows in that tradition: to write compellingly beautiful music without 
					sacrificing a sincere sense of fun and enthusiasm. Beautiful music is easy to come by, but music that drives players to YouTube 
					anywhere from days to decades later to relive worlds and stories through their music is much trickier to find.</p>
					
					<p>It's said that true joy is composed of a tear and a smile, and when that "YouTube" day comes for someone, anything less won't do.</p>

					</p>
				</div>
			</div>
		</div>
	</a>
					
	
	<!-- FAQ SECTION -->
	
	<a name="faq">
		<div id="parallax5"> 
				<div class="header">
					FAQ
				</div>
			<div id="faqcontainer">
			
				<button class="accordion">Q: “What do you mean by 'passive' and 'active' music?”</button>
					<div class="panel">
						<p><b>A:</b> These are just terms I use to describe the differences I perceive among different kinds of music.
						Very generally speaking,
						"passive" music is the kind you often hear in films: fitting, but a bit forgettable because it tends to blend into the backdrop unnoticed. In a sense, passive music
						is like a literal account of facts while "active" music, on the other hand, is more like telling a story around a campfire. Facts are informative, but stories
						give a sense of scope and meaning.<p>
						
						<p>Put another way, you could say that passive music makes little sense by itself, or that 
						it seems incomplete out of its original context, while active music
						can stand on its own and paint a vivid mental picture even out of context, hence the terms "passive" and "active," respectively.</p>
						</p>
						
						<p>In a word, passive music follows moments as they happen; active music tells stories. How a composer
						structures their music determines which category it falls into.</p>
					</div>
					
				<button class="accordion">Q: “How do I know I’ll get exactly what I’m looking for?”</button>
					<div class="panel">
						<p><b>A:</b> Of course, liking what you heard in the Music section above is a great start, 
						but it’s good to have a guarantee that I’ll nail what you’re looking for. Sometimes
						the vision of what you want is a little blurry and takes some time to suss out, and that’s okay.</p>
						
						<p>
						Even if you know nothing about music and have a difficult time
						communicating what you want, I know how to translate even the vaguest ideas into music, accurately identify even the vaguest wishes, and have a huge library
						of references to draw from to help identify exactly what you want without having to settle because of difficulty verbalizing specifics.
						</p>
					</div>

				<button class="accordion">Q: “What are your prices/how do you pricing?”</button>
					<div class="panel">
						<p>A: It's difficult to give a flat rate because projects vary so wildly, but
						I’m very flexible with pricing as well as pricing models — and don't worry, I'll quote you an exact figure upfront once
						I've gotten a good idea of the project.
						
						If pay-per-minute freaks you out a bit, I’m happy to do — and personally quite like — pay-per-project. Beyond that, if you think
						I'm perfect for the job but don't have much of a budget, we can also talk about a revenue share option. If you're unsure,
						I'd be glad to give you a rundown of the pros/cons of each. Whatever the model though, 
						the quality of my music is a deeply personal matter to me, so my concern is making music that will 
						open eyes and ears; not optimizing my time:money ratio.</p>
					</div>
					
				<button class="accordion">Q: “Do you only do JRPGs?”</button>
					<div class="panel">
						<p>A: While JRPGs are my favorite to work on, I only use JRPGs as an example to describe my composition style
							because I feel they were (and are) among the most notable examples of the so-called "active" style of music.
							I enjoy composing for all kinds of genres, be it something like the 3D Zeldas, Metroidvanias or, indeed, JRPGs!
							</p>
					</div>

				<button class="accordion">Q: “What genres can you do?”</button>
					<div class="panel">
						<p>A: I tend not to focus much in terms of genre, but I've been described as symphonic/prog rock, world and orchestral. 
						If you're unfamiliar, think Nobuo Uematsu and Motoi Sakuraba (of Final Fantasy and Tales/Souls series fame) 
						for symphonic/prog rock and orchestral, and Yasunori Mitsuda (of Chrono/Xeno series fame) for world.</p>
					</div>
					
				<button class="accordion">Q: “What if I want something that sounds more like older games?”</button>
					<div class="panel">
						<p>A: In my music demo, the songs are produced with live orchestral samples, but this sound has less to do with the
						music itself and more with the hardware I use. I can adjust my compositions to any "soundont" you think will fit your game, be it 
						something reminiscent of the 16-bit era or something more modern and "real-sounding".</p>
					</div>
					
				<button class="accordion">Q: “Can I hire you for individual commissions/songs?”</button>
					<div class="panel">
						<p>A: You can. Prices vary depending on a variety of factors, but I'm fairly flexible, so please DM me on Twitter (Twitter icon
						on the top-right) or email me at vermanubismusic@gmail.com if you'd like to commission me or get more details.
						</p>
					</div>
					
				<button class="accordion">Q: “What separates you from other composers?”</button>
					<div class="panel">
						<p>A: This is probably something my music and philosophy I briefly spoke about above could answer best.
							In brief, I think my unusual music background and focus on a sweetspot between beauty and listenability
							has helped me carve out a unique spot in the current VGM landscape.
						</p>
					</div>
			</div>
		</div>
	</a>
	
	<!-- ABOUT SECTION -->

	<a name="about">
		<div id="parallax6">
				<div class="header">
					About
				</div>
			<div class="container-spaced">
				<div class="aboutphotocontainer">
					<div class="slidepic fade">
						<div class="slideposition">1 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\me.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">2 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\TotA.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">3 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\batenkaitos.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">4 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\CC.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">5 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\SotN.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">6 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\FF7.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">7 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\Actraiser.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">8 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\Xenogears.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">9 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\FFT.jpg' %}"></image>
					</div>
					
					<div class="slidepic fade">
						<div class="slideposition">10 / 10</div>
						<img class="aboutphotos", src="{% static 'mainpage\images\FFMQ.jpg' %}"></image>
					</div>
					
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
					
					<div class="caption">Click the arrows to see some of my fav games and musical influences!</div>
				</div>
				
					
				<div id="aboutmetext">
					My name’s Geoff Butterworth, also known as Vermanubis, and it’s a pleasure to meet you.
					
					<p>Game music has been my life since I was 5 years old 
					when I would do 6-hour marathons through my corrupted copy of Final Fantasy: Mystic Quest just to hear the final dungeon theme.
					Around my late teens, I finally realized that when you feel as strongly about something as I did (and do) about game music, you
					dedicate yourself wholly to it.
					</p>
					
					<p>Since about that age it's been my life's work to communicate my most beloved memories and sentiments from games to others through my own work. 
					</p>
					
				</div>
			</div>
				
		</div>
	</a>
	
	<!-- CONTACT SECTION -->
	
	<a name="contact">
		<div id="parallax7">
		
			<div class="header">
				Contact
			</div>
			
			<div class="container-center">
				<form action="{% url 'contact' %}" method="post" style="margin: 0; padding: 0;">
				{% csrf_token %}
				
					<div id="messagefields">
						<input type="text" id="message-name" name="message-name" placeholder="Your name?" onfocus="this.placeholder=''" onblur="this.placeholder='Your name?'" 
						maxlength="50" required>

						<input type="text" id="message-email" name="message-email" placeholder="Your email?" 
						onfocus="this.placeholder=''" onblur="this.placeholder='Your email?'" maxlength="50" required>

						<textarea id="message" name="message" placeholder="Your message..."  onfocus="this.placeholder=''" onblur="this.placeholder='Write here...'"
						style="height:200px" maxlength="3000" required></textarea>

						<input type="submit" value="Send message" style="font-family: Arial Black">	
					</div>
				</form>
			</div>
		</div>
	</a>

	
<script>

	$(document).ready(function(){
			$.getJSON("http://files.olo.com/pizzas.json", function(result){
				$.each(result, function(i, field){
					console.log(field)
				});
			});
		});
	;

	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) 
	{
		showSlides(slideIndex += n);
	}

	function currentSlide(n) 
	{
		showSlides(slideIndex = n);
	}

	function showSlides(n) 
	{
		var i;
		var slides = document.getElementsByClassName("slidepic"); 
		if (n > slides.length) 
		{
			slideIndex = 1
		}  
		
		if (n < 1) 
		{
			slideIndex = slides.length
		}
		
		for (i = 0; i < slides.length; i++) 
		{
		  slides[i].style.display = "none";  
		}
		
			slides[slideIndex-1].style.display = "block";  
	}
	
	var navBar = document.getElementById('navbar');
	var navWrap = document.getElementById('navbarwrapper');
	
	window.onscroll = function () 
	{	 
		"use strict";
		if (document.documentElement.scrollTop >= 100 ) //if scrolled from very top
		{
			navBar.classList.add("navbar-scrolled");
			navBar.classList.remove("navbar");
			navWrap.classList.add("navbarwrapper-scrolled");
			navWrap.classList.remove("navbarwrapper");
		} 
		else //you're at the top
		{
			navBar.classList.add("navbar");
			navBar.classList.remove("navbar-scrolled");
			navWrap.classList.add("navbarwrapper");
			navWrap.classList.remove("navbarwrapper-scrolled");
		}
	};
	
	var acc = document.getElementsByClassName("accordion");
	var i;
	var activePanel = null;

	for (i = 0; i < acc.length; i++) 
	{
	  acc[i].onclick = function() 
	  {
		toggleItem(this);
	  }
	}
	  	  
	function toggleItem(item)
	{
		item.classList.toggle("active");

		/* Toggle between hiding and showing the active panel */
		var panel = item.nextElementSibling;

		if (panel.style.maxHeight) //panel is open, now close and adjust div height
		{
			panel.style.maxHeight = null;
			document.getElementById("parallax5").style.minHeight = 
				document.getElementById("parallax5").offsetHeight - panel.scrollHeight + "px";
		} 
		else //panel is closed, now open it and adjust div height
		{
			panel.style.maxHeight = panel.scrollHeight + "px";
			document.getElementById("parallax5").style.minHeight = 
				document.getElementById("parallax5").offsetHeight + panel.scrollHeight + "px";
		} 
	};
	
</script>

</body>
</html>